NEXT_PUBLIC_API_URL=https://kinetix.mindrind.com/api/v1
NEXT_PUBLIC_APP_URL=https://kinetix.mindrind.com
NEXT_PUBLIC_SOCKET_URL=https://kinetix.mindrind.com
NEXT_PUBLIC_API_ORIGIN=https://kinetix.mindrind.com
